<a
  class="nostyle"
  routerLinkActive="active-link"
  [routerLink]="['/todos']"
  (click)="itemClicked()"
>
  <div class="sidenav-item">
    <div class="sidenav-item-image">
      <mat-icon>library_add_check</mat-icon>
    </div>
    <div class="sidenav-item-text">
      Todos
    </div>
  </div>
</a>

<a
  class="nostyle"
  routerLinkActive="active-link"
  [routerLink]="['/weather']"
  (click)="itemClicked()"
>
  <div class="sidenav-item">
    <div class="sidenav-item-image">
      <mat-icon>wb_cloudy</mat-icon>
    </div>
    <div class="sidenav-item-text">
      Weather
    </div>
  </div>
</a>
