a {
  .sidenav-item {
    height: 48px;
    display: grid;
    grid-template-columns: 16px 24px 32px 184px;

    .sidenav-item-image {
      grid-column: 2;
      display: flex;
      align-items: center;
    }
    .sidenav-item-text {
      grid-column: 4;
      display: flex;
      align-items: center;
    }
  }
  &:link,
  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }

  &.active-link {
    .sidenav-item {
      background-color: #f0f0f0;
    }
  }
}
