a {
  .sidenav-item {
    height: 42px;
    display: grid;
    grid-template-columns: 6px 24px 32px 174px;
    margin: 3px 10px 3px 10px;

    .sidenav-item-image {
      grid-column: 2;
      display: flex;
      align-items: center;
    }
    .sidenav-item-text {
      grid-column: 4;
      display: flex;
      align-items: center;
    }
  }
  &:link,
  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }

  &.active-link {
    .sidenav-item {
      background-color: #ffcdd2;
      color: #9a0007;
      border-radius: 5px;
    }
  }
}
